@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto");
body {
  padding: 0 10%;
  text-align: center;
}

body h1 {
  font-size: 30px;
}

body button {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #206fb6;
  color: #fff;
  padding: 3px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin: 20px 0px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#game-board {
  display: none;
  padding-top: 3vh;
}

#title {
  padding: 3% 0 0 0;
  margin-bottom: 30px;
}
#title img {
  width: 50%;
}
#instructions img {
  width: 10%;
  height: 50%;
  margin-right: 8%;
  margin-bottom: 10%;
  margin-top: 10px;
}

#the-game {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

#goal {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border: 2px solid #206fb6;
  border-radius: 4px;
}

canvas {
  border: 8px solid black;
  border-radius: 20px;
}

#instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

#instructions p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
}
